@import '~common/stylus/variable.styl'
.header {
  .el-input__inner {
    height: 36px
    border-radius: 18px
    border: none
    background-color: #f7f7f7
  }
  .el-input__suffix {
    cursor: pointer
    &:before {
      content: ''
      position: absolute
      top: -10px
      left: -10px
      right: -10px
      bottom: -10px
    }
  }
}

.el-input__icon {
  line-height: 36px
  font-size: 18px
}

.swiper-container {
  .swiper-pagination-bullet {
    width: 10px
    height: 10px
    margin: 0 6px !important
    border-radius: 100%
    background-color: #fff
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: #af7b7a
      opacity: .8
    }
  }
}

.el-pagination {
  text-align: right
  margin-top: 30px
  padding: 0
  &.is-background {
    .btn-next, .btn-prev, .el-pager li {
      border: 1px solid #868686
      color: #868686
      background-color: #fff
      height: 22px
      line-height: 20px
      font-size: 12px
      padding: 0 4px
      min-width: 24px
    }
    .btn-next:disabled, .btn-prev:disabled, .el-pager li.disabled {
      border-color: #dadada
      color: #dadada
    }
    .el-pager {
      li:not(.disabled) {
        border: 1px solid #868686
        color: #868686
        background-color: #fff
        &.active {
          background-color: #fff
          color: $main-color
          border-color: $main-color
        }
        &.el-icon {
          border-color: #fff
        }
      }
    }
  }
  button, span:not([class*=suffix]) {
    font-size: 12px
    line-height: 20px
    height: 22px
  }
}

.el-tabs--card {
  & > .el-tabs__header {
    margin-bottom: 0
    padding: 6px 0
    background: url('~images/bg.jpg') top left repeat-x, url('~images/bg.jpg') bottom left repeat-x
    background-color: #f3f3f3
    border-bottom: none
    .el-tabs__nav {
      border: none
    }
    .el-tabs__item {
      border-bottom: none
      border-left: none
      border-right: 2px solid #fff
    }
  }
}

.el-tabs--border-card {
  border: none
  box-shadow: none
  & > .el-tabs__header{
    background-color:#f5f5f5
    .el-tabs {
      &__nav {
        width: 100%
      }
      &__item {
        width: 50%
        font-size: $font-xl
        height: 56px
        line-height: 50px
        text-align: center
        font-size:$font-l
        border: none
        margin: 0
        color: $size-color
        border-top: 1px solid #fff
        border-bottom: 1px solid $main-color
        color:$size-color3
        &.is-active {
          background-color: #fff
          border:1px solid $main-color
          border-color:$main-color $main-color #fff $main-color
          .rec-icon{
            display:inline-block
          }
        }
      }
    }
    .rec-icon{
      display:none
      vertical-align:top
      width:32px
      height:50px
      background:url('~images/rec_icon.png') left center no-repeat
    }
    .rec-icon2{
      background-position:-32px 0
    }
  }
  & >.el-tabs__content{
    border:1px solid $main-color
    border-top:none
    padding:15px 30px 30px
  }
}

.el-checkbox__inner {
  border: 1px solid $border-color
}

.el-input__inner, .el-textarea__inner {
  border-color: $border-color
  border-radius: 2px
}

.el-button {
  border-radius: 2px
}

.el-form-item__label {
  color: $size-color2
}

.el-upload--picture-card {
  position: relative
  width: 80px
  height: 80px
  line-height: 78px
  border: 1px solid $border-color
  border-radius: 2px
  .tip {
    position: absolute
    font-size: 12px
    font-style: normal
    display: block
    line-height: 20px
    width: 100%
    bottom: 0
  }
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 80px
  height: 80px
  border: 1px solid $border-color
  border-radius: 2px
}



.user {
  .el-collapse{
    border:none
    &-item{
      user-bg()
      &__header{
        padding-left:14px
        font-size:$font-s
        color:$size-color2
        border-bottom:none
        background-color:#f8f3f0
      }
      &__arrow{
        font-size:$font-m
        font-weight:bold
      }
      &__wrap{
        background-color:#f8f3f0
      }
      &__content{
        padding-bottom: 0
        font-size: $font-m
        line-height:40px
      }
    }
  }

}

.el-input-group__append, .el-input-group__prepend{
  background-color:#fff
  border:1px solid $border-color
  border-radius:2px
  color:$size-color2
}
.el-input__inner, .el-textarea__inner{
  border-color:$border-color
}
.el-input-group__prepend{
  border-right:none
}
.el-input-group__append{
  border-left:none
}