@import "mixin.styl"
// 颜色定义规范
$main-color = #af7b7a	// 主色调
$num-color=#ef3838		// 用于数字颜色
//字体颜色规范
$hover-color = #af7b7a
$size-color = #222		// 主用标题和着重说明
$size-color1 = #8a8a8a
$size-color2=#454545	// 正文
$size-color3=#868686	// 灰颜色
$size-color4=#dadada	// 灰颜色
//边框颜色规范
$border-color = #dadada
// 链接颜色规范
$link-color = #a3a3a3
//字体定义规范
$font-x = 12px
$font-s = 14px
$font-m = 16px
$font-l = 18px
$font-xl = 20px
$font-xxl = 22px
$font-l-l = 24px

